              <div class="mediathequeItem col-md-3">
                <a type="button" href="./nextEvPage/" class="linkArticle" alt="link vers page du prochain tournoi de poker 4As-t-us">
                  <img src="./img/nextEv.jpg" alt="Lieu du prochain évènement" />
                  <div class="container extract">
                    <h4><b>Prochain évènement</b></h4>
                    <p>
                      Vivamus sit amet vel placerat justo.<br>
                      11 novarem 2022<br>
                      Nam scelerisque leo sit amet lectus suscipit, quis facilisis dui vestibulum. 
                      Proin mi nibh, rutrum malesuada turpis eu, placerat blandit sapien...<br>
                      <span>Touchez/Cliquez l'extrait et lisez la suite !</span>
                    </p>
                  </div>
                </a>
              </div>