<div></div>
      <div class="pageUp">
          <a href="#myLogo" style="color:white"><i class="bi bibiUp bi-chevron-up" style="color:white"></i></a>
      </div>
      <div class="footer-copyright">© 2020 Copyright | Tous droits réservés</div>