      <header class="header">
          <div class="headerMenu">
              <nav class="navbar navbar-expand-md fixed-top">
                  <div class="container-fluid">
                      <a id="logo" class="navbar-brand" href="{{AccueilPage}}">
                          <img id="img4As" src="{{logo4As}}"/>
                          <span class="md brand">4As-t-us</span>
                      </a>
                      <button class="navbar-toggler" type="toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                          <i type="button" class="bi bibiToggleOpen bi-list"></i>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNav">
                          <ul class="navbar-nav menu">
                              <li class="nav-item">
                                  <a class="nav-link" href="{{AccueilPage}}"><i class="bi bi-suit-spade"></i>Accueil</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="{{HomePage}}"><i class="bi bi-suit-heart"></i>Le Club</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="{{AgendaPage}}"><i class="bi bi-suit-club"></i>Agenda</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="{{ClassementsPage}}"><i class="bi bi-suit-diamond"></i>Classement</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="{{WinamaxPage}}"><i class="bi bi-coin"></i>Jouer à Winamax</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </nav>
          </div>
      </header>
        