        <nav class="navbar navbar-expand-md fixed-top">
                    <div class="container container-fluid">
                        <a id="logo" class="navbar-brand" href="{{AccueilPage}}">
                            <img id="img4As" src="./img/4As.jpg"/>
                            <span class="md brand">4As-t-us</span>
                        </a>
                        <button class="navbar-toggler" type="toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <i type="button" class="bi bibiToggleOpen bi-list"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav menu"><!-- me-auto mb-2 mb-md-0 -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{{AccueilPage}}">
                                        <i class="bi bi-bookmark-check"></i>
                                            Accueil
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{HomePage}}">
                                        <i class="bi bi-building"></i>
                                            Le Club
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{AgendaPage}}">
                                        <i class="bi bi-mortarboard"></i>
                                            Agenda
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ClassementsPage}}">
                                        <i class="bi bi-keyboard"></i>
                                            Classement
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{WinamaxPage}}">
                                        <i class="bi bi-house"></i>
                                            Jouer à Winamax
                                    </a>
                                </li>
                                
                                <!--<li>
                                    <div class="downloadFile">
                                        <div class="container">
                                            <div class="interior">
                                              <a class="btn" href="#open-modal"><i class="bi bi-download"></i> CV</a>
                                            </div>
                                        </div>
                                        <div id="open-modal" class="modal-window">
                                            <div>
                                                <a href="#" title="Close" class="modal-close">Close</a>
                                                < !--<div>Télécharger :</div>
                                                <a type="button" class="btn btnDownload" href="dwnd/CV_DevWeb_FManier.docx" download><i class="bi bi-download"></i> CV.docx</a>
                                                <a type="button" class="btn btnDownload" href="dwnd/CV_DevWeb_FManier.pdf" download><i class="bi bi-download"></i> CV.pdf</a>-- >
                                            </div>
                                        </div>
                                    </div>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                </nav>
        
        <!--
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
              <a href="#" class="navbar-brand">Brand</a>
              <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                  <div class="navbar-nav">
                      <a href="#" class="nav-item nav-link active">Accueil</a>
                      <a href="#" class="nav-item nav-link">le Club</a>
                      <a href="#" class="nav-item nav-link">Classements</a>
                      <a href="#" class="nav-item nav-link">Agenda</a>
                      <a href="#" class="nav-item nav-link disabled" tabindex="-1">Winamax</a>
                  </div>
                  <div class="navbar-nav ms-auto">
                      <a href="#" class="nav-item nav-link">Login</a>
                  </div>
              </div>
          </div>
        </nav>-->