---
title: Cadeaux - 4As-t-us
description: cette page présente les cadeaux fictifs à gagner par les vainqueurs des tournois de poker 4As-t-us. 
layout: layout.njk
linkCSS: ../css/style.css
logo4As: ../img/4As.jpg
AccueilPage: ../index.html
HomePage: ../homepage/index.html
AgendaPage: ../homepage/index.html
ClassementsPage: ../classements/index.html
WinamaxPage: ../winamax/index.html
---
      <div class="cdoPage col-md-12">
        <!--<video width="800px" height="600px" muted="" controls="" style="margin:100px 25%">
          <source src="../vid/winner.mp4" alt="Un Vainqueur de poker" type="video/mp4">
          Présentation des cadeaux à gagner par les vainqueurs de poker 4As-t-us.
        </video>-->
        **
        <div style="margin:0 0 0 45%;">
          <input type="radio" id="trigger1" name="slider">
          <label for="trigger1"></label>
          <div class="slide bg1"></div>

          <input type="radio" id="trigger2" name="slider" checked autofocus>
          <label for="trigger2"></label>
          <div class="slide bg2"></div>

          <input type="radio" id="trigger3" name="slider">
          <label for="trigger3"></label>
          <div class="slide bg3"></div>

          <input type="radio" id="trigger4" name="slider">
          <label for="trigger4"></label>
          <div class="slide bg4"></div>

          <input type="radio" id="trigger5" name="slider">
          <label for="trigger5"></label>
          <div class="slide bg5"></div>

          <input type="radio" id="trigger6" name="slider">
          <label for="trigger6"></label>
          <div class="slide bg6"></div>

          <input type="radio" id="trigger7" name="slider">
          <label for="trigger7"></label>
          <div class="slide bg7"></div>

          <input type="radio" id="trigger8" name="slider">
          <label for="trigger8"></label>
          <div class="slide bg8"></div>

          <input type="radio" id="trigger9" name="slider">
          <label for="trigger9"></label>
          <div class="slide bg9"></div>
        </div>
      
        **
        <div class="slideContainer" id="slide1Container"></div>
        
        
        <div class="container" style="margin: -5% auto auto auto">
          <h4><b>Cadeaux des 3 meilleurs joueurs</b></h4>
            <p>
              Erat et efficitur av<br>
              27 juliminus 2022<br>
              Quis facilisis dui vestibulum ov
              Poldo Pedro roin mi placerat blandit sapien!<br>
              Donec condimentum est a ipsum porta, pharetra 
              condimentum quam pellentesque.<br>
              <br>
              Sed vitae finibus nisl, nec malesuada odio. Nunc porta vitae risus et venenatis. 
              Sed euismod fermentum erat vitae posuere.<br>
              <br>
              Aenean vel sem dui. Vivamus ultrices dolor eu convallis gravida. 
              Phasellus semper tempor eros in elementum. In tincidunt ultrices semper.
            </p>
        </div>
      </div>