---
title: Classements - 4As-t-us
description: cette page présente le classements des joueurs de poker de l'association 4As-t-us. Vous découvrirez votre classement, du meilleur joueur au moins bon. Mais surtout votre nombre de points 4As-t-us qui vous permets d'obtenir vos cadeaux. 
layout: layout.njk
linkCSS: ../css/style.css
logo4As: ../img/4As.jpg
AccueilPage: ../index.html
HomePage: ../homepage/index.html
AgendaPage: ../agenda/index.html
ClassementsPage: ./
WinamaxPage: ../winamax/index.html
---