---
title: About - 4As-t-us
description: cette page présente l'association '4As-t-us' avec sa création et son histoire, ses statuts, ses règles et ses coordonnées. 
layout: layout.njk
AccueilPage: ../index.html
HomePage: ./
AgendaPage: ../agenda/index.html
ClassementsPage: ../classements/index.html
WinamaxPage: ../winamax/index.html
---
<div class="container col-md-12">
  <div class="col-sm-12 col-md-6">
    <h1>Présentation</h1>
    <h2>Ses Infos pratiques</h2>
    <h3>Ses coordonnées</h3>
    <p>Adresse: <br>
    lhflqshhahi reùpkz^kp<br>
    
    </p>Adresse : Cercle d’Union Démocratique et Sociale, 26 rue du Bon Pasteur, 69001 Lyon, sur les pentes (au sous sol, passez par le jardin, sur le coté)

  Mail : tripotholdemclub@hotmail.com
    <h2>Notre histoire</h2>
    <p>C'est courant 2012, une bande de copains amateurs du poker, se décident de créer ce qui sera 4As-t-us.<br>
        Nous voulions rencontrer d'autres joueurs, et ne pas être toujours les mêmes autour de la table.<br>
        L'association ayant accueilli des adhésions avec l'explosion du Texas Hold'em dans la France entière. 
        Ils voulaient découvrir, apprendre et maîtriser l'art du poker. Au fur et à mesure de ces différentes rencontres 
        en live, un vrai esprit d'amitié s'est créé entre les membres et nous avons appris à tous nous connaître autour des tables.<br>
        Les membres historiques de ce premier noyau de passionnés peuvent être résumés par ces quelques personnes (liste non exhaustive) : <br>
      <ul>
        <li>Pedro,</li>
        <li>Kangoo,</li>
        <li>TripleAce,</li>
        <li>Walk'n,</li>
        <li>Momo,</li>
        <li>SoiFranc,</li>
        <li>Ted,</li>
        <li>Nanar</li>
      </ul>
      Aujourd'hui, l'association compte plus de 500 adhérants et ont s'amuse comme des enfants.
    </p>
    <br>
    <h2>Notre Règle</h2>
    <p>lkhaloazhp pojp$aojp p$aj prprj apoj phrhi</p>
    <br>
  </div>
  <div class="col-sm-12 col-md-6">
    <img src="./img/table1.jpeg" />
  </div>
</div>
