/********************* FOOTER ***********************/
footer {
  bottom: 0px;
}
div.footer-copyright {
  background-color: $NB1000;
  color:$NB000;
  font-size: $sizeP* 0.5;
  text-align: center;
  margin-top:50px;
}
i.bi.bibiUp.bi-chevron-up {
  font-size: $sizeP* 2;
  color:$NB000;
  text-align: center;
  margin-top:5px;
}
div.pageUp {
  margin-bottom: 100px;;
}