
/* ******************** SECTION ACCUEIL ********************** */
div.mainImgIntro.container h1 {
  text-align:center;
  margin-top:80px;
}
div.mainImgIntro.container h2 {
  margin-top:42%;
  text-align:center;
}
#mediatheque_h2Infotheque {
  margin-top:5%;
  text-align:center;
}
div.mediatheque {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

/* ******************** SECTION LE CLUB ********************** */
.center {
  text-align: center;
}


/* ******************** SECTION CLASSEMENT ********************** */
caption#classement {
  color:$NB000;
  font-size: 30px;
}
table.classement {
  width:60%;
  height:auto;
  margin: 0 auto;
}
.classement tbody {
  width:100%;
}
thead, th, td, tr, tbody {
  color:$NB000;
  border: 1px solid $NB000;
  text-align:center;
}
tbody>tr:nth-child(even) {
  background-color: $NB500;
  color:$NB1000;
}
thead>tr {
  background-color: $HOT900;
  width:100%;
}
th, td {
  width:25%;
  padding: 1%;
}

/* ******************** SECTION WINAMAX ********************** */
div#winamax {
  margin-top: 20px;
}
div.containerCta {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
section.container.padded {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  padding:0 5%;
}
div.column {
    width: 220px;
    display:block;
}
#page section.padded {
  padding: 50px 0;
}
.containerCta {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 50px;
  position: relative;
}
.jouer .column+.column {
  margin-left: 50px;
}
.jouer .column {
  width: 220px;
  float: left;
}
.box {
  border-radius: 4px;
  background: $NB000 transparent;
  border: 1px solid $NB000;
  padding: 15px;
}
.jouer .column:nth-child(1) .box img {
  margin-bottom: 44px;
  margin-top: 50px;
}

.jouer .box img {
  margin: 27px auto 5px auto;
  display: block;
  width: 100%;
}
div.box>p, div.box>a, div.winamaxPage:last-child {
  text-align:center;
}
.btn-danger {
  margin: 5% 11%;
}
#btnOld {
  padding:2px 5px;
  border:1px solid $NB750;
  border-radius:4px;
  background-color:$NB750;
  color:$NB1000;
}
#btnOld:hover {
  border:1px solid $NB750;
  border-radius:4px;
  background-color:$NB750;
  color:$NB1000;
  transition-property: background-color transform color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}


